[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pdoc3 = "*"
pytest = "*"

[packages]
sqlalchemy = "*"
pandas = "*"
pydot = "*"
tqdm = "*"

[requires]
python_version = "3"
